a  {
  transition: font-size 500ms;
}

header > h1{
  animation: dance 350ms infinite alternate;
}
@keyframes dance{
  0%  {
    transform: rotate(-1deg);
  }
  100%  {
    transform: rotate(1deg);
  }
}